<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="navUser.html">
<head>
    
    <title>Utilisateur</title>
</head>
<body class="" style="background-color: rgb(232, 231, 231);">

    <div layout:fragment="content">

    <div class="container-fluid" >
        <section class="body-header">
            <h1>Liste des Utilisateurs</h1>
        </section>
        <div th:if="${success}">
            <p class="alert alert-success" th:text="${success}"></p>
        </div>
        <div class="container bg-white pt-4 shadow-lg p-3 mb-5 rounded" id="hideBody" style="border-radius: 5px;">
            <table id="example" class="table table-striped table-bordered" style="width:100%; height: 10rem" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Username</th>
                        <th>Contacts</th>
                        <th>Adresse</th>
                        <th style="width: 15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="customerList : ${CustomerList}">
                    <td th:text="${customerList.id}"></td>
                    <td th:text="${customerList.firstName}"></td>
                    <td th:text="${customerList.username}"></td>
                    <td th:text="${customerList.telephone}"></td>
                    <td th:text="${customerList.address}"></td>
                    <td >
                        <i class="fa-solid fa-repeat mr-2 text-success"></i>|
                        <a onclick="javascript:return confirm('veut tu tjrs supprimer')" th:href="@{/admin/delete/{id} (id = ${customerList.id})}"><i class="fa fa-trash mr-2 ml-3" aria-hidden="true" style="color:rgb(255, 136, 0)"></i></a>|
                        <i class="fa-solid fa-pen-to-square mr-2 ml-3 text-info"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <!-- endSidebar -->

    <!-- cardBody -->
    
    <!-- EndCard -->

        
</body>
</html>